<template name="datepicker">
  <div class="container datepicker-wrap" style="position:absolute; top: 149px;">
    <div class="row">
      <div class="col-md-3">
        <div id="datepicker" style="background: black;"></div>
      </div>
      <div class="col-md-6">
        <textarea id="appointmentInput" class="form-control" rows="13" style="resize:none" placeholder="{{selectedDate}}"></textarea>
        <button style="float:right;margin-top:20px;" id="submitAppointment">Submit date</button>
      </div>
    </div>
  </div>
</template>
